// ==========================================================================
// Container
// ==========================================================================

@use "../mixins" as *;
@use "../variables" as *;

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-8xl;

  @include mobile {
    gap: $spacing-6xl;
  }

  @include mobile-sm {
    gap: $spacing-5xl;
  }
}

.container {
  @include container;
}

.main-content section {
  > .container {
    gap: $spacing-5xl;
    display: flex;
    flex-direction: column;

    @include mobile {
      gap: $spacing-3xl;
    }
  }
}
