@use "../mixins" as *;
@use "../variables" as *;

.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-sm;
  width: 100%;
  flex-grow: 1;
}

.feature-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: $spacing-sm;
  width: 100%;
  padding-left: $spacing-3xl;

  //   @include mobile {
  //     padding-left: calc($spacing-3xl - $spacing-xs);
  //   }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-image: url("../img/icon-check-white-blue-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // @include mobile {
    //   left: -$spacing-xs;
    // }
  }
}

.feature-text {
  flex: 1;
  margin: 0;

  //   @include mobile {
  //     font-size: $font-size-md;
  //     line-height: $line-height-md;
  //   }
}
