// ==========================================================================
// Glazing Balconies Section
// ==========================================================================

@use "../mixins" as *;
@use "../variables" as *;

.glazing-balconies-section {
}

.glazing {
  @include flex-column;
  gap: $spacing-5xl;

  @include mobile {
    gap: $spacing-3xl;
  }
}

.glazing-item {
  display: flex;
  align-items: flex-start;
  gap: $spacing-5xl;

  @include mobile {
    flex-direction: column;
    gap: $spacing-2xl;
  }

  &.reverse {
    flex-direction: row-reverse;

    @include mobile {
      flex-direction: column;
    }
  }
}

.glazing-image {
  flex: 1;
  min-height: 400px;
  width: 100%;
  aspect-ratio: 16/10;
  border-radius: $border-radius-md;
  background: $color-bg-secondary;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include tablet {
    min-height: 300px;
    aspect-ratio: 16/12;
  }

  @include mobile {
    min-height: 200px;
  }
}

.glazing-content {
  width: 456px;
  @include flex-column;
  justify-content: center;
  gap: $spacing-xl;
  padding: $spacing-2xl 0;
  align-self: stretch;

  @include tablet {
    width: 100%;
    max-width: 40%;
    flex-shrink: 0;
    padding: 0;
  }

  @include mobile {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    gap: $spacing-lg;
  }
}

.glazing-title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-2xl;
  margin: 0;

  @include tablet {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }

  // @include mobile {
  //   font-size: $font-size-lg;
  //   line-height: $line-height-base;
  // }
}

.glazing-description {
  @include text-body($font-size-base, $font-weight-light);
  margin: 0;
}

.glazing-action {
  padding-top: $spacing-2xl;
  display: flex;
  flex: 1;
  align-items: flex-end;
  width: 100%;

  .btn {
    width: 100%;
  }

  @include mobile {
    padding-top: 0;
  }
}

// Lead Card Styles
// ==========================================================================

.glazing-lead-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  align-items: stretch;
  gap: $spacing-5xl;
  padding: $spacing-lg;
  border-radius: $border-radius-xl;
  background: #ebf3ff;

  @include tablet {
    gap: $spacing-xl;
  }

  @include mobile {
    flex-direction: column;
    gap: $spacing-3xl;
  }
}

.lead-card-image {
  position: relative;
  display: flex;
  align-self: stretch;
  flex: 1 1 50%;
  // min-height: 400px;
  height: auto;
  border-radius: $border-radius-md;
  background: $color-bg-primary;
  // padding: $spacing-3xl;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include tablet {
    min-height: 400px;
  }

  @include mobile {
    min-height: 0;
    aspect-ratio: 16/14;
  }
}

.lead-card-content {
  @include flex-column;
  min-width: 330px;
  flex: 1 1 50%;
  align-items: flex-end;
  gap: $spacing-3xl;
  padding: $spacing-3xl $spacing-2xl $spacing-5xl 0;

  @include tablet {
    align-items: stretch;
    min-width: 0;
    padding: $spacing-lg $spacing-lg $spacing-lg 0;
  }

  @include mobile {
    padding: 0;
  }
}

.lead-card-header {
  @include flex-column;
  align-items: flex-start;
  gap: $spacing-md;
  width: 100%;
}

.lead-card-action {
  @include flex-column;
  align-items: flex-start;
  gap: $spacing-md;
  width: 100%;
}

.lead-card-tag {
  @include text-body($font-size-sm, $font-weight-medium);
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  line-height: 16px;
  margin: 0;
}

.lead-card-title {
  // @include text-heading(36px, $font-weight-semibold);
  // line-height: 42px;
  font-weight: $font-weight-semibold;
  margin: 0;

  // @include tablet {
  //   font-size: $font-size-3xl;
  //   line-height: $line-height-relaxed;
  // }

  // @include mobile {
  //   font-size: $font-size-2xl;
  //   line-height: $line-height-base;
  // }
}

.lead-card-btn {
  height: 72px;
  min-width: 240px;
  padding: $spacing-lg $spacing-3xl;
  gap: $spacing-sm;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include mobile {
    min-width: auto;
  }
}
