// ==========================================================================
// Hero Section
// ==========================================================================

@use "../mixins" as *;
@use "../variables" as *;

.hero-section {
  background: $color-bg-primary;
  padding: $spacing-8xl 0 $spacing-2xl;

  @include tablet {
    padding: $spacing-4xl 0 0;
  }

  @include mobile {
    padding: $spacing-4xl 0 0;
  }

  @include mobile-sm {
    padding: $spacing-2xl 0 0;
  }
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 552px;
  gap: $spacing-2xl;
  align-items: stretch;

  @include tablet {
    grid-template-columns: 1fr;
    gap: $spacing-4xl;
  }

  // @include mobile {
  //   grid-template-columns: 1fr;
  //   gap: $spacing-2xl;
  // }
}

.hero-text {
  @include flex-column;
  gap: $spacing-7xl;
  // padding-bottom: $spacing-3xl;

  @include tablet {
    gap: $spacing-4xl;
  }
}

.hero-message {
  max-width: 558px;
  @include flex-column;
  gap: $spacing-3xl;

  @include pre-desktop {
    flex-direction: row;
    max-width: none;
  }

  @include tablet {
    gap: $spacing-3xl;
  }

  @include mobile {
    flex-direction: column;
    gap: $spacing-xl;
  }
}

.hero-title {
  h1 {
    margin-bottom: $spacing-md;

    @include mobile-sm {
      margin-right: $spacing-md;
    }
  }

  h2 {
    @include text-heading($font-size-3xl, $font-weight-medium);
    line-height: $line-height-relaxed;

    @include mobile {
      font-size: $font-size-xl;
    }
  }

  @include pre-desktop {
    flex: 1 0 65%;
  }

  @include mobile {
    flex: 1;
  }
}

.hero-description {
  @include pre-desktop {
    padding-top: $spacing-2xl;
  }

  @include mobile {
    padding-top: 0;
  }
}

.hero-cta {
  @include flex-column;
  align-items: center;
  gap: $spacing-lg;
  max-width: 364px;

  @include mobile {
    max-width: 100%;
  }
}

.address {
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  line-height: $line-height-tight;
  color: $color-text-secondary;
  text-align: center;
}

// Hero form
// ==========================================================================
.hero-form {
  padding-left: $spacing-8xl;

  @include tablet {
    padding-left: 0;
  }
}

.hero-form-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 100%;
    width: 34vw;
    height: calc(100% + $spacing-5xl);
    background: url(../img/main-image.png) no-repeat center center;
    background-size: cover;
    z-index: 0;
    border-radius: $border-radius-2xl;
    transform: translateY(-50%);

    @media (max-width: 1650px) {
      width: 44vw;
    }

    @include tablet {
      height: 100%;
    }
  }
}

.hero-form-card {
  position: relative;
  z-index: 1;
  // @include backdrop-blur;
  border-radius: $border-radius-2xl;
  padding: $spacing-4xl;
  min-height: 500px;
  @include flex-column;
  justify-content: center;
  gap: $spacing-3xl;
  width: 100%;

  @include tablet {
    padding: $spacing-2xl;
    width: 70%;
    max-width: 600px;
    min-height: 0;
    // background: $color-bg-secondary;
    // backdrop-filter: none;
  }

  @include mobile {
    width: 100%;
    padding: $spacing-3xl $spacing-2xl;
  }
}

.hero-form-header {
  h3 {
    max-width: 550px;
  }
}
