@use "../variables" as *;
@use "../mixins" as *;

.lead-form-card {
  @include flex-column;
  gap: $spacing-2xl;
  padding: $spacing-8xl $spacing-4xl;
  border-radius: $border-radius-2xl;
  border: 0;
  background-color: $color-bg-primary;
  background: url(../img/main-image.png?as=webp&width=871) no-repeat center
    center;
  background-size: cover;

  @include mobile {
    padding: $spacing-3xl $spacing-2xl;
  }

  .form-fields-row {
    @include mobile {
      gap: $spacing-sm;

      .btn {
        margin-top: $spacing-2xl;
      }
    }
  }
}

.lead-form-container {
  @include flex-column;
  gap: $spacing-2xl;
}

// Review Lead Form
.lead-form {
  @include flex-column;
  gap: $spacing-xl;
}
