@use "../variables" as *;
@use "../mixins" as *;

.our-works-slider-wrapper {
  position: relative;

  .swiper {
    flex: 1;
    align-items: center;
    padding-bottom: $spacing-3xl;
  }

  .swiper-wrapper {
    align-items: stretch;
    min-width: 100%;
    display: flex;

    height: auto;
    aspect-ratio: 23 / 4;

    @include mobile {
      aspect-ratio: auto;
    }
  }
    
  .swiper-slide {
    flex: 1 0 auto;
    align-self: stretch;
    height: auto;
    display: flex !important;
  }

  .swiper-pagination {
    --swiper-pagination-bottom: 0;
  }
}

.img-box {
    background-color: $color-bg-tertiary;
    border-radius: 30px;
    aspect-ratio: 1;
    height: auto;
    width: 100%;
    align-self: flex-start;
    overflow: hidden;

    @include mobile {
      aspect-ratio: 7 / 9;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}