// ==========================================================================
// Reviews Section
// ==========================================================================

@use "../variables" as *;
@use "../mixins" as *;

.reviews-section {
  // Reviews Content
  .reviews-content {
    @include flex-column;
    align-self: stretch;
    gap: $spacing-7xl;
    margin-bottom: $spacing-8xl;
  }

  // Reviews Grid
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-2xl;
    align-items: flex-start;

    @include mobile {
      grid-template-columns: 1fr;
      gap: $spacing-3xl;
    }
  }
}

// Review Card
.review-card {
  @include flex-column;
  gap: $spacing-lg;
  padding-bottom: $spacing-sm;

  .review-image {
    height: auto;
    aspect-ratio: 12/7;
    background: $color-bg-secondary;
    border-radius: $border-radius-md;
    // padding: $spacing-3xl;
    @include flex-column;
    gap: $spacing-lg;
    width: 100%;
    flex: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .review-bar {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    flex-wrap: wrap;

    @include mobile {
      @include flex-column;
      align-items: flex-start;
      gap: $spacing-lg;
    }
  }

  .review-meta {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: row;
      align-items: flex-start;
      gap: $spacing-md;
      padding-left: $spacing-md;
    }
  }

  .review-text {
    position: relative;
    display: flex;
    padding: $spacing-sm $spacing-4xl $spacing-lg 52px;
    justify-content: center;
    align-items: flex-start;
    gap: $spacing-md;

    @include mobile {
      padding-right: 0;
    }

    p {
      flex: 1;
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: $spacing-sm;
      top: $spacing-sm;
      width: $spacing-3xl;
      height: $spacing-3xl;
      background: url("../img/icon-review-quote.svg") no-repeat center center;
      background-size: contain;
    }
  }
}

.review-card--1 {
  .user-avatar {
    background: url("../img/user-1.png?as=webp") no-repeat center center;
    background-size: cover;
  }
}

.review-card--2 {
  .user-avatar {
    background: url("../img/user-2.png?as=webp") no-repeat center center;
    background-size: cover;
  }
}

.review-card--3 {
  .user-avatar {
    background: url("../img/user-3.png?as=webp") no-repeat center center;
    background-size: cover;
  }
}

.review-card--4 {
  .user-avatar {
    background: url("../img/user-4.png?as=webp") no-repeat center center;
    background-size: cover;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.user-avatar {
  @include icon-circle(40px, $color-bg-secondary);
  flex-shrink: 0;
}

.user-details {
  @include flex-column;
  justify-content: center;

  .user-label {
    @include text-muted($font-size-md);
    line-height: $spacing-lg;
    margin: 0;
  }

  .user-name {
    @include text-body($font-size-base, $font-weight-semibold);
    margin: 0;
  }
}

.meta-item {
  display: flex;
  align-items: center;
  gap: $spacing-sm;

  .meta-icon {
    @include icon-circle(40px, $color-bg-tertiary);
    padding: $spacing-md 0;
    flex-shrink: 0;

    img {
      width: $spacing-xl;
      height: $spacing-xl;
    }

    @include mobile {
      @include icon-circle(32px, $color-bg-tertiary);

      img {
        width: $spacing-lg;
        height: $spacing-lg;
      }
    }
  }

  .meta-details {
    @include flex-column;

    .meta-label {
      @include text-muted($font-size-md);
      line-height: $spacing-lg;
      margin: 0;
    }

    .meta-value {
      @include text-body($font-size-base, $font-weight-light);
      margin: 0;
    }
  }
}

.ya-review-block {
  width: 67%;
  height: 800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

.ya-review-link {
  box-sizing: border-box;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 10px;
  font-family: YS Text, sans-serif;
  padding: 0 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 14px;
  white-space: nowrap;
  padding: 0 16px;
  box-sizing: border-box;
}
