// ==========================================================================
// Typography
// ==========================================================================

@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "Geologica";
  src: url("../font/Geologica.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

html,
body {
  font-family: $font-family-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.25;
  color: #000;
  font-family: $font-family-primary;
}

h1 {
  font-size: $font-size-5xl;
  line-height: $line-height-5xl;
  font-weight: $font-weight-semibold;

  @include tablet {
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
  }

  @include mobile {
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
  }

  @include mobile-sm {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
  }
}

h2 {
  font-size: $font-size-4xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-relaxed;

  @include mobile {
    font-size: $font-size-3xl;
    line-height: $line-height-3xl;
  }
}

h3 {
  font-size: $font-size-3xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-3xl;

  @include tablet {
    // font-size: $font-size-xl;
  }

  @include mobile-sm {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }
}

h4 {
  font-size: $font-size-2xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;

  @include tablet {
    // font-size: $font-size-xl;
  }
}

h5 {
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
}

h6 {
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
}

p,
.text-base {
  margin: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  line-height: $line-height-spacious;
  color: #000;
  font-family: $font-family-primary;
}

html,
body {
  @extend .text-base;
}

.disclaimer {
  a {
    color: $color-blue-accent;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #268ceb;
  }
}

.text-muted {
  color: rgba(0, 0, 0, 0.5);
}

.text-light {
  color: rgba(0, 0, 0, 0.7);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-md {
  font-size: $font-size-md;
}

.text-lg {
  font-size: $font-size-lg;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-normal {
  font-weight: $font-weight-normal;
}

.font-medium {
  font-weight: $font-weight-medium;
}

.font-semibold {
  font-weight: $font-weight-semibold;
}

.font-bold {
  font-weight: $font-weight-bold;
}
